argparse~=1.4.0
paho-mqtt
#dependencies
multidict
attrs
yarl
async_timeout
requests~=2.32.3
websockets~=15.0.1
#cchardet
chardet
#multidict==4.5.2
#attrs>=17.3.0
#yarl==1.2.6
#async_timeout>=3.0,<4.0
aiosignal
#aiohttp
aiomqtt~=2.4.0
aiologic~=0.14.0